@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat");
}

.container, .container-fluid {
  padding: 0;
  margin: 0;
}


.body {
  background-color: #33373B;
}

.navPanel {
  background-color: #3E3E3E;
  min-height: 40px;
}

.navButton {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  font-style: normal;

  color: #c4c4c4;

}

.navButton:hover {
  color: #c4c4c4;
  background-color: rgba(255, 255, 255, 0.05);
}

.navButton:focus {
  color: #d49292;
  background-color: rgba(255, 255, 255, 0.1);
}

.pad_TLR_4px {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}
.pad_BLR_4px {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.mLeft-2 {
  margin-left: 2px;
}

.mT-0 {
  margin-top: 0;
}


.paramSection {
  background-color: rgba(255, 255, 255, 0.05);
  min-width: 363px;
  width: 363px !important;
  height: 272px !important;
}

.buttnSection {
  background-color: rgba(102, 115, 122, 0.12);
  height: 272px !important;
}

.outSection {
  background-color: rgba(102, 115, 122, 0.12);
  min-height: 300px;
  max-height: 300px;
}

