<!DOCTYPE HTML>
<html  lang="en">
<head>
    <title>Генератор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style.css" rel="stylesheet" type="text/css"  >

    <script type="text/javascript" src="../public/jquery-3.5.0.js"></script>
    <script type="text/javascript" src="../public/hello.js"></script>
</head>

<body>
<div class="container" >
    <div class="TopForm" >

        <div class="inputDiv">
            <label class="inputLabel" >R начало</label> <br>
            <input type="number" class="inputField" id="startR_id" >
        </div>

        <div class="inputDiv dopMargin">
            <label class="inputLabel" >R размер</label><br>
            <input type="number" class="inputField" id="sizeR_id" >
        </div>

        <div class="inputDiv">
            <label class="inputLabel" >C начало</label><br>
            <input type="number" class="inputField" id="startC_id" >
        </div>

        <div class="inputDiv dopMargin">
            <label class="inputLabel" >C размер</label><br>
            <input type="number" class="inputField" id="sizeC_id" >
        </div>


        <div class="inputDiv dopMargin">
            <label class="inputLabel" >Приоритет</label><br>
            <input type="text" class="inputField" id="priRC_id" placeholder="R / C" >
        </div>


        <button class="inButton" id="butt_id" >Старт</button>

    </div>

    <div class="txtAreaDiv pos" >
        <textarea class="txtArea" id="inputTxt_id" placeholder="Ввести значение переменой или R1 C1" ></textarea>
        <textarea class="txtArea" id="outTxt_id" placeholder="Вывод результата" readonly  ></textarea>
    </div>
</div>

</body>
</html>