<!doctype html>
<html lang="en">
<head>
    <title>Генератор</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>

</head>

<body class="body">

<div class="container-fluid ">

    <nav class="navbar justify-content-start p-0 navPanel">
        <a class="nav-link  navButton" href="#">Генератор</a>
        <a class="nav-link navButton" href="#">История</a>

    </nav>

    <div class="container-fluid d-inline-flex pad_TLR_4px">

        <div class="container paramSection"></div>
        <div class="container-fluid buttnSection mLeft-2"></div>

    </div>

    <div class="container-fluid pad_BLR_4px">

        <div class="container-fluid outSection"></div>


    </div>

    <footer class="blockquote-footer">FOOTER</footer>

</div>

</body>
</html>