<!doctype html>
<html lang="en">
<head>
    <title>История</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>

    <script type="text/javascript" src="js/jquery-3.5.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="js/hello.js"></script>

    <!--    ../static/-->

</head>

<body class="body">

<div class="container-fluid vh-100 ">

    <nav class="navbar justify-content-start p-0 navPanel">
        <a class="nav-link navButton" href="/">Генератор</a>
        <a class="nav-link navButton" href="/history">История</a>

    </nav>

    <div class="container-fluid d-inline-flex h-75 p_4">

        <div class="inputBlockLeft inputParam ">
            <p class="name-bg">Список событий</p>
            <ul class="list-group">
                <li class="list "></li>
                <li class="list "></li>
                <li class="list "></li>
                <li class="list "></li>
            </ul>
        </div>


        <div class="w-100 m-L2">
            <textarea class="textArea  w-100 h-100" id="historyOut_id" placeholder="Вывод истории"></textarea>
        </div>

    </div>


    <footer></footer>

</div>

</body>
</html>